
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>3D app  Home</title>
   
    <link rel="stylesheet" href="__PUBLIC__/css/style-starter.css">
</head>
<!--/Header-->

<body>
	<include file="Public:head"/>
    <!--//Header-->
    <!--//Banner-slider-->
    <section class="w3l-main-slider banner-slider position-relative" id="home">
        <div class="owl-one owl-carousel owl-theme">
            <div class="item">
                <div class="slider-info banner-view banner-top1">
                    <div class="container">
                        <div class="banner-info header-hero-19">
                            <p class="w3hny-tag"><h3 class="title-hero-19">Coca Cola Great Britain</h3></p>
                            <p class="w3hny-tag"><h4 style="color:red">Founded in 1886 Dr John S Pemberton</h4></div>
							<p class="w3hny-tag">
                        The Coca Cola Company is the world's leading manufacturer, marketer and distributor of non-alcoholic beverage concentrates and syrups, and produces nearly 400 brands.
                    </p>
                            

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- //main-slider -->
   
   <section class="w3l-feature-with-photo-1" id="ab">
        <div class="feature-with-photo-hny py-5">
            <div class="container py-lg-5">
                <div class="ab-in-flow row mb-lg-5 mb-3">

                    <div class="col-lg-6 ab-right mb-lg-0 mb-4">
                        
                        <h3 class="title-w3l mb-4">{$list[0]['title']}

                        </h3>
                        <p class="">{$list[0]['content']}</p>
                        

                        <div class="w3l-buttons mt-sm-5 mt-4">
                            <a class="btn btn-primary btn-style" href="{$list[0]['url']}">Read More</a>

                        </div>
                    </div>
                    <div class="col-lg-6 ab-left ps-lg-5">
                        <img src="{$list[0]['img']}" alt="" class="img-fluid radius-image">
                    </div>
                </div>

            </div>
        </div>
    </section>
	<section class="w3l-services-page w3l-bg-grey py-5" id="ab" >
        <div class="feature-with-photo-hny py-5">
            <div class="container py-lg-5">
                <div class="ab-in-flow row mb-lg-5 mb-3">

                    <div class="col-lg-6 ab-right mb-lg-0 mb-4">
                        
                        <h3 class="title-w3l mb-4">{$list[0]['title1']}

                        </h3>
                        <p class="">{$list[0]['content1']}</p>
                        

                        <div class="w3l-buttons mt-sm-5 mt-4">
                            <a class="btn btn-primary btn-style" href="{$list[0]['url1']}">Read More</a>

                        </div>
                    </div>
                    <div class="col-lg-6 ab-left ps-lg-5">
                        <img src="{$list[0]['img1']}" alt="" class="img-fluid radius-image">
                    </div>
                </div>

            </div>
        </div>
    </section>
	<section class="w3l-feature-with-photo-1" id="ab">
        <div class="feature-with-photo-hny py-5">
            <div class="container py-lg-5">
                <div class="ab-in-flow row mb-lg-5 mb-3">

                    <div class="col-lg-6 ab-right mb-lg-0 mb-4">
                        
                        <h3 class="title-w3l mb-4">{$list[0]['title2']}

                        </h3>
                        <p class="">{$list[0]['content2']}</p>
                        

                        <div class="w3l-buttons mt-sm-5 mt-4">
                            <a class="btn btn-primary btn-style" href="{$list[0]['url2']}">Read More</a>

                        </div>
                    </div>
                    <div class="col-lg-6 ab-left ps-lg-5">
                        <img src="{$list[0]['img2']}" alt="" class="img-fluid radius-image">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--//w3llets-work-->
    <!--/footer-->
    <include file="Public:foot"/>
    <!-- //footer -->
    
</body>

</html>
