
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Statement Of Originality</title>
    
    <!-- Template CSS -->
    <link rel="stylesheet" href="__PUBLIC__/css/style-starter.css">
</head>
<!--/Header-->

<body>
    <include file="Public:head"/>
    <!-- breadcrumb -->
    <section class="w3l-about-breadcrumb">
        <div class="breadcrumb-bg breadcrumb-bg-about">
            <div class="container py-5">
                <div class="w3breadcrumb-gids text-center py-sm-5 py-4">
                    <div class="w3breadcrumb-info">
                        <h2 class="w3ltop-title">Statement Of Originality</h2>
                    </div>
                    <ul class="breadcrumbs-custom-path">
                        <li><a href="https://users.sussex.ac.uk/~yy414/3dapp/assignmnet/">Home</a></li>
                        <li class="active"><span class="fas fa-arrow-right mx-2"></span> Statement Of Originality</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
   
   
    <!--/contact-form-->
    <section class="w3l-contact-main" id="contact">
        <div class="contact-infhny py-5">
            <div class="container py-lg-5">
                <div class="top-map">
                    <div class="map-content-9">
                        
                            <div class="form-top1">
                                <div class="w3header-section text-center">
                                    
                                    <h3 class="title-w3l mb-0">
                                        Statement of Originality</h3>
                                    <p class="mb-lg-5 mb-5 text-center">{$list[0]['content']}</p>
                                </div>

                              
                                
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//contact-form-->
	
     <include file="Public:foot"/>

</body>

</html>
